section.callbacks
    .container
        .callbacks-content
            h3.callbacks__title Отзывы наших покупателей
            .callbacks-list
                .callbacks-list__item
                    img(src="./img/callbacks/01.jpg", alt="screen")
                .callbacks-list__item
                    img(src="./img/callbacks/02.jpg", alt="screen")
                .callbacks-list__item
                    img(src="./img/callbacks/03.jpg", alt="screen")
                .callbacks-list__item
                    img(src="./img/callbacks/04.jpg", alt="screen")