section.categorys
    .container
        .categorys-list
            .categorys-list__item
                span.categorys-item__backtitle MONTALE
                img(src="./img/categorys/01.png", alt="bottle")
                .categorys-item__caption
                    p Весь октябрь
                        span Скидка 15%
                        span на все ароматы MONTALE
            .categorys-list__item
                span.categorys-item__backtitle SALE
                img(src="./img/categorys/02.png", alt="SALE")
                .categorys-item__caption
                    p СКИДКИ
            .categorys-list__item
                img(src="./img/categorys/03.png", alt="MORE")
                .categorys-item__caption
                    p Пробники и миниатюры